body {
  border: 2px solid #007BFF;
  background-color: #EFEFEF;
}

.container {
  margin: 250px 0;
}

.container h1 {
  color: #007BFF;
}

.container .input-group input {
  border-color: #007BFF;
  border-width: 3px;
  border-radius: 25px 0 0 25px !important;
}

.container .input-group .input-group-btn button {
  border-radius: 0 25px 25px 0 !important;
}