h1 {
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
}

header > p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

div {
  text-align: center;
  border: .1em solid #000;
}

p {
  font-size: 1.4rem;
  font-weight: 700;
}

body {
  background-color: #000;
  color: #FFF;
}