* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: #333;
    width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ABDCF0;
}

h1 {
    text-transform: uppercase;
}

.counter-preview {
    font-size: 8rem;
    font-weight: 700;
    color: #333;
}

button {
    color: #FFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 1rem;
}

.decrement {
    background-color: #4CAF50;
}

.reset {
    background-color: #F44336;
}

.increment {
    background-color: #2196F3;
}