h2 {
  text-align: center;
}

input {
  margin: 0 42%;
  width: 210px;
}

/* Text Hover Effect */

.link {
  text-align: center;
  font-size: 30px;
  color: #6667ab;
  margin: 40%;
  line-height: 150px;
  background-image: linear-gradient(#ff2f97, #ff2f97);
  background-repeat: no-repeat;
  background-size: 0 100%;
  background-position-x: right;
  transition: background-size 500ms;
}

.link:hover {
  background-size: 100% 100%;
  background-position-x: left;
}

/* Shake On Invaild Input */
input:invalid {
  animation: shake 300ms;
}

@keyframes shake {
  25% {transform: translateX(4px)}
  50% {transform: translateX(-4px)}
  75% {transform: translateX(4px)}
}