* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: #FFF;
}

ul li{
    list-style: none;
    text-align: center;
}

ul li a {
    color: #333;
    text-decoration: none;
    font-size: 2em;
    font-weight: 300;
    padding: 5px 20px;
    display: inline-flex;
    letter-spacing: .1em;
    text-transform: uppercase;
}

ul li a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    font-weight: 400;
    text-transform: initial;
    opacity: 0;
    color: #222;
    z-index: -1;
    letter-spacing: 500px;
    transition: letter-spacing .5s;
    font-family: 'Sacramento', cursive;
}

ul li a:hover::before {
    content: attr(data-text);
    left: 50%;
    opacity: 1;
    background-color: var(--clr);
    width: 250vh;
    height: 250vh;
    letter-spacing: 0;
}

ul li:hover a {
    background-color: #333;
    color: var(--clr);
    font-weight: 500;
}

ul:hover > li:not(:hover) {
    opacity: 0;
}