* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222;
}

.container {
    width: 400px;
    padding: 30px 30px 70px 30px;
    background-color: #333;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #111;
    gap: 10px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0005);
}

.container h2 {
    color: #666;
    font-weight: 500;
}

.container .inputBox {
    width: 100%;
}

.container .inputBox input {
    width: 100%;
    background-color: #222;
    border: none;
    outline: none;
    padding: 10px;
    color: #FFF;
    font-size: 1.1em;
}

.container .inputBox .show {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    background-color: #333;
    border: 6px solid #222;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .inputBox .show::before {
    content: 'show';
    font-size: .6em;
    color: #FFF;
    letter-spacing: .15em;
    text-transform: uppercase;
}

.container .inputBox .show.hide::before {
    content: 'hide';
}

.container .strengthMeter {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #222;
}

.container .strengthMeter::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    transition: .5s;
    background-color: #F00;
}

.container.weak .strengthMeter::before {
    width: 10%;
    background-color: #F00;
    filter: drop-shadow(0 0 5px #F00) drop-shadow(0 0 10px #F00) drop-shadow(0 0 20px #F00);
}

.container.medium .strengthMeter::before {
    width: 66.66%;
    background-color: #FFA500;
    filter: drop-shadow(0 0 5px #FFA500) drop-shadow(0 0 10px #FFA500) drop-shadow(0 0 20px #FFA500);
}

.container.strong .strengthMeter::before {
    width: 100%;
    background-color: #0F0;
    filter: drop-shadow(0 0 5px #0F0) drop-shadow(0 0 10px #0F0) drop-shadow(0 0 20px #0F0);
}

.container .strengthMeter::after {
    position: absolute;
    top: -45px;
    left: 30px;
    transition: .5s;
    color: #FFF;
}

.container.weak .strengthMeter::after { 
    content: 'Ur Password is WEAK';
    color: #F00;
    filter: drop-shadow(0 0 5px #F00);
}

.container.medium .strengthMeter::after { 
    content: 'Ur Password is MEDIUM';
    color: #FFA500;
    filter: drop-shadow(0 0 5px #FFA500);
}

.container.strong .strengthMeter::after { 
    content: 'Ur Password is STRONG';
    color: #0F0;
    filter: drop-shadow(0 0 5px #0F0);
}





